<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA8mSpFT3ychyGXrrnRByndeF6kWRQy2ZA</string>
	<key>GCM_SENDER_ID</key>
	<string>589071862969</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testfirebase20240311</string>
	<key>PROJECT_ID</key>
	<string>test20240311-92e5e</string>
	<key>STORAGE_BUCKET</key>
	<string>test20240311-92e5e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:589071862969:ios:a8ccc27f0ff3d12c7d1f68</string>
</dict>
</plist>